.env
docker/mysql/data
docker/mysql/backups
logs
.idea
.DS_Store
admin_password.txt
public/wp-config.php
/public/wp-content/uploads
/public/wp-content/cache
wp-errors.log
public/cache
public/wp-salt.php

/vendor/
/public/wp-content/debug.log
/tmp
/htpass
test-results.txt
tests/vendor
tests/wordpress-tests-lib
public/.phpdoc
public/docs
.vscode/settings.json
